.Absolute-Center {
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.facebook {
    width: 100%;
}

table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}