<div class="ui raised segment">  
    <h1>Edit Resource #{{resource.id}}</h1>
    
    <form #f="ngForm"  (ngSubmit)="onSubmit(f.value)"  class="ui form">

      <div class="form-group">  
        <label for="description">Description:</label>  
        <input type="text"  name="description"  placeholder="Description"  class="form-control"
               [(ngModel)]="resource.description" #description="ngModel" required>  
      </div>
      <div class="form-group">  
        <label for="url">Url:</label>  
        <input type="text"  name="url"  placeholder="Url"  class="form-control"  
               [(ngModel)]="resource.url" #url="ngModel" required>  
      </div>  

        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
          description is required
        </div>

      <button class="btn btn-primary" >Save</button>
    </form>  
  </div>  