<div class="container">

<h1>{{title}}</h1>
<table style="width:100%">
    <tr>
        <th>Topic</th>
        <th>Resources</th>
      </tr>
    <tr *ngFor="let t of topics">
        <td>{{ t.name}}</td>
        <td>{{ t.numberOfResources }}</td>
    </tr>
</table>
</div>