<div class="container">
    <div class="row">
        <div class="Absolute-Center">
            <button (click)="goFacebook()" class="btn btn-primary facebook">Log in with Facebook</button>
            <hr/>

                Log in with your email address <br/> <br/>
                <input type="email" [(ngModel)]="email" placeholder="Email" class="form-control"/><br/>
                <input type="password" [(ngModel)]="password" placeholder="Password" class="form-control"/><br/>

                <button class="btn btn-success" (click)="login()">Log in</button><br/> Don't have an account? <a href="/training/signup">Sign Up</a>

        </div>
    </div>
</div>
