<div class="container">
    <div class="container" *ngIf="!add && !edit">

        <h1>My Resources </h1>
        <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>DescriptionName</th>
            </tr>
            <tr *ngFor="let r of resources">
                <td> <a (click)="editResource(r)">{{ r.id }}</a></td>
                <td>{{ r.description }}</td>
            </tr>
        </table>
        <br/>   
        <button class="btn btn-primary" (click)="add=true">New</button><br/>
    </div>
    <div class="col-xs-6" *ngIf="add">
        <form>
            <h1>Add new resource</h1> <br/> <br/>
            <input type="text" [(ngModel)]="resource.description" name="description" placeholder="Description" class="form-control" required/><br/>
            <input type="url" [(ngModel)]="resource.url" name="url" placeholder="Url" class="form-control" required/><br/>
            <select [(ngModel)]="resource.topicId" name="topicId" class="form-control" required>
                <option *ngFor="let t of selectTopics" [value]="t.id">{{t.name}}</option>
            </select>

        </form>
        <button class="btn btn-primary" (click)="createResource()">Save</button>
        <a (click)="add=false">Back to list</a><br/>
    </div>
    <div class="col-xs-6" *ngIf="edit">
        <edit-resource [resource]="selectedResource" (stateChange)="handleChange($event)"></edit-resource>
        <a (click)="edit=false">Back to list</a><br/>
    </div>


</div>