<div class="container">
    <div class="row">
        <div class="Absolute-Center">
            <button class="btn btn-primary facebook" (click)="goFacebook()">Sing up with Facebook</button>
            <hr/>
            Sign up with your email address <br/>
            <input type="email" [(ngModel)]="email" placeholder="Email" class="form-control" /><br/>
            <input type="password" [(ngModel)]="password" placeholder="Password" class="form-control" /><br/>
            <input type="text" [(ngModel)]="name" placeholder="Name" class="form-control" /><br/>
            <button class="btn btn-success" (click)="singup()" >Sing up</button><br/> Already have an account? <a href="/training/login">Log in</a>
        </div>
    </div>
</div>
