<div class="ui raised segment">
    <h1>{{title}}</h1>

    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form">

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Topic Name" class="form-control" [(ngModel)]="topic.name" #name="ngModel"
                required>
        </div>

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            name is required
        </div>

        <button class="btn btn-primary">Save</button>
    </form>
</div>