<div class="container">
    <div class="container" *ngIf="!add && !edit">
        <h1>My topics</h1>
        <table style="width:100%">
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <tr *ngFor="let t of topics">
                <td> <a (click)="editTopic(t)">{{ t.id }}</a> </td>
                <td>{{ t.name }}</td>
            </tr>
        </table>
        <br/>
        <button class="btn btn-primary" (click)="add=true">New</button><br/>
    </div>

    <div class="col-xs-6" *ngIf="add">
        <topic (stateChange)="handleChange($event)"></topic>
        <a (click)="add=false">Back to list</a><br/>
    </div>
    <div class="col-xs-6" *ngIf="edit">
        <topic [topic]="selectedTopic" (stateChange)="handleChange($event)"></topic>
        <a (click)="edit=false">Back to list</a><br/>
    </div>
</div>